<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lgsc.cjbd.user.mapper.RoleAllowMapper" >
  <resultMap id="BaseResultMap" type="com.lgsc.cjbd.user.model.RoleAllow" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_allow_id" property="roleAllowId" jdbcType="BIGINT" />
    <result column="allow_id" property="allowId" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>