<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lgsc.cjbd.book.mapper.ChannelMapper">
	<resultMap id="BaseResultMap" type="com.lgsc.cjbd.book.model.Channel">
		<!-- WARNING - @mbg.generated -->
		<id column="channel_id" property="channelId" jdbcType="BIGINT" />
		<result column="parent_channel_id" property="parentChannelId"
			jdbcType="BIGINT" />
		<result column="channel_name" property="channelName" jdbcType="VARCHAR" />
		<result column="channel_desc" property="channelDesc" jdbcType="VARCHAR" />
		<result column="created_by" property="createdBy" jdbcType="VARCHAR" />
		<result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
		<result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
		<result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
	</resultMap>

	<resultMap id="AllChannelMap" type="java.util.HashMap">
		<id column="channel_id" property="channelId" jdbcType="BIGINT" />
		<result column="channel_name" property="channelName" jdbcType="VARCHAR" />
		<result column="book_num" property="bookNum" jdbcType="INTEGER" />
	</resultMap>

	<select id="selectAllChannel" resultMap="AllChannelMap">
		SELECT c.channel_id,
		c.channel_name, COUNT(bc.isbn) AS book_num
		FROM channel c
		LEFT JOIN
		book_channel bc ON bc.channel_id = c.channel_id
		GROUP BY c.channel_id
	</select>
</mapper>