#blogroll_main{
    margin: 30px auto;
    fieldset{
        width:100%;
        border:1px solid #cccccc;
        text-align: center;
        color:#989898;
        font-size:12px;
        padding:25px 0 12px;
        legend{
            width:20.3%;
            height:24px;
            line-height: 24px;
            border:{
                left:1px solid #cccccc;
                right:1px solid #cccccc;
                bottom:0 none;
            }
            font-size:20px;
        }
        .links{
            padding: 0 140px;
        }
        span{
            display: inline-block;
            height:36px;
            line-height: 36px;
            &.line{
                padding:0 10px;
            }
            a{color:#989898;&:hover{color: #3d95d5;  }}
        }
    }
}
