<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lgsc.cjbd.book.mapper.CrumbMapper" >
  <resultMap id="BaseResultMap" type="com.lgsc.cjbd.book.model.Crumb" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="crumb_id" property="crumbId" jdbcType="BIGINT" />
    <result column="parent_crumb_id" property="parentCrumbId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>